In [1]:
from iertools.tb import *
import matplotlib.pyplot as plt

In [3]:
fecha1 = parse("2024-02-01") 
fecha2 = fecha1 + pd.Timedelta("10D")

tmp= TB(config_file='config_gbv.ini',device_name='estacion')

["Temperatura","Humedad","Presion"]

In [4]:
sensores = ["Temperatura"]
cafe = pd.concat([tmp.get_df(key=sensor,start_datetime=fecha1,end_datetime=fecha2).resample('1min').mean() for sensor in sensores],axis=1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/iertools/tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)

In [5]:
cafe

                     Temperatura
ts
2024-01-31 18:00:00    27.209045
2024-01-31 18:01:00    27.208415
2024-01-31 18:02:00    27.182715
2024-01-31 18:03:00    27.167040
2024-01-31 18:04:00    27.174565
...                          ...
2024-02-10 17:55:00    28.303500
2024-02-10 17:56:00    28.291905
2024-02-10 17:57:00    28.281875
2024-02-10 17:58:00    28.291585
2024-02-10 17:59:00    28.274350

[14400 rows x 1 columns]